$main-font-color: black;
$tertiary-color:  #99E2D0;
$flat-graphics-main-color: #8c8a8a;
$main-bg-color: #F3F3F3;
$secondary-bg-color: #F6F6F6;
$secondary-color: #FF79DA;
$primary-color: #9356DC;
$fields-bg-color:#EAEAEA;
$semi-dark-bg-color:#353535;
$tertiary-font-color: #008766;
$clear-font-color: #FFFFFF;
$dark-font-color: #000000;
$semi-dark-font-color: #353535;
  